Pillow
pip
pycparser
pyinstaller
pyinstaller-hooks-contrib
pyowm
pyparsing
pypiwin32
pypyodbc
PySocks
pyTelegramBotAPI
pyttsx3
pywin32
pywin32-ctypes
requests
setuptools
six
SpeechRecognition
urllib3
vk
vk-api
wheel
whichcraft
zope.event
zope.interface